@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
  --paleBlue: hsl(243, 100%, 93%);
  --ms-grid-row-span: hsl(229, 7%, 55%);
  --darkBlue: hsl(228, 56%, 26%);
  --veryDarkBlue: hsl(229, 57%, 11%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

.App {
  min-height: 100vh;
  background-color: var(--veryDarkBlue);
  background-image: url("./images/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 500px) {
  .App {
    background-image: url("./images/bg-desktop.png");
    background-size: contain;
    background-position: 0 100%;
  }
}
